*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

#main-container{
    width: 90%;
    height: 710px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    overflow-y: hidden;
}
h1{
    font-size: 40px;
    margin: 10px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}
h3{
    width: 100%;
    font-size: 20px;
    margin: 20px;
    font-family: "Roboto", sans-serif;
}
p{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

#list-view{
    width: 100%;
    height: 700px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    /* margin-top: 20px; */
    font-family: "Roboto", sans-serif;
    font-weight: 450;

}

.list-button {
    display: flex;
    justify-content:space-between ;
}
.list-button i{
    margin: 3px;
    /* padding-top: 2px; */
    padding: 3px;
    background-color: white;
    color: #14a44e;
    border-radius: 100%;
    margin-bottom:5px ;
    font-size: medium;
    border: none;
    text-align: center;
}
.list-button button{
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #14a44e;
}
.list-button h2{
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
}

table{
    width: 100%;
    border: 1px solid rgb(10, 8, 8);
    border-collapse: collapse;
    /* text-align: center; */
    padding: 10px;
}
thead{
    background-color: #14a44e;
    color: white;
    height: 50px;
}

tr,td{
    color: black;
    border: 1px solid black;


}

tbody tr:nth-child(even) {
    background-color: #d3cfcf;
  }
  
tbody tr:nth-child(odd) {
    background-color: rgb(248, 247, 247);
}
  















#container{
    /* margin-left: 150px; */
    /* margin-top: 20px; */
    width: 100%;
    height: 700px;
    background-color: rgb(255,255,255,255);
    border: 2px solid black;
    overflow-y: hidden;

}

#container form{
    margin-top: 0;
    width: 96%;
    height: 550px;
    background-color:rgb(255,255,255,255);
    position: relative;

        
}

#container .form2{
    top: 200px;
        
}
#container .form3{
    top: 1000px;
    /* display: none; */
}

#navbar{
    background-color: white;
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    
}

.nav1{
    width: 100%;
    height: 40px;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    border: 1px solid black ;
    padding-top: 20px;
    border-radius: 3px;
    color: #aeb0af;
}
#nav1{
    color: white;
}
.nav1 input[type=radio]{
    transform: scale(1.5);
}
.nav1 span{
    padding-right: 8px;
    margin-right: 10px;

}
.nav1 i{
    width: 18px;
    height: 18px;
}
.nav1 i{
    background-color: #14a44e;
    color:white;
    border: 2px solid white;
    border-radius: 20px;
    padding-top: 2px;
}

#form1{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 20px;
}

#form2{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 20px;
}

.form-group{
    width: calc(100%/3);
    height: 60px;
    display: flex;
    flex-direction: column;
}
.street{
    width: 66%;
    display: flex;
    flex-direction: column;
}
.form-group select{
    width: 400px;
    height: 40px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.street input{
    width: 890px;
    height: 100px;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.landmark{
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}
.pincode{
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}

.landmark input{
    width: 395px;
    height: 30px;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 10px;

}
.pincode input{
    width: 395px;
    height: 30px;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.landmark-pincode{
    width: 33%;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.userName,.password{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.userName input[type=text]{
    width: 600px;
    height: 35px;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

#form3 label{
    width: 380px;
    height: 30px;
    padding: 3px;
    border-radius: 6px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}
#form3 input[type=password]{
    width: 600px;
    height: 30px;
    padding: 3px;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

#form3{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 20px;
}

.input1{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.input2,.input3{
    width: 33%;

}

.mobile,.dob{
    width: calc(100%/6);
    
    
}

#form1 input[type=text]{
    width: 380px;
    height: 30px;
    padding: 3px;
    margin: 0;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

/* .input1 div::before{
    content: "";
    background-color: red;
    margin: 0;
    padding: 0;
} */



#form1 input[type=email]{
    width: 380px;
    height: 30px;
    padding: 3px;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
#form1 input[name=aadhar]{
    width: 370px;
    height: 30px;
    padding: 3px;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
#form1 input[name=Mobile]{
    width: 135px;
    height: 30px;
    padding: 3px;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
#form1 input[name=dob]{
    width: 135px;
    height: 30px;
    padding: 3px;
    border-radius: 6px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.input3 input[type=file]{
    width: 300px;
    height: 30px; 
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}



#form1 .input3 span{
    margin-right: 30px;
}
#form1 .input3 div{
    margin-top: 10px;
}

form i{
    background-color: rgba(158, 157, 155, 0.829); 
    border: 1px solid black; 
    padding: 8px;
    margin: 0;
    border-radius: 2px;
}


#hobbies{
    width: 100%;
    height: 100px;
    padding-left: 50px;
    font-size: 20px;
    
}

/* #hobbies label,input{
    font-size: 20px;
    margin-right: 10px;
    margin-top: 20px;


} */
#other{
    width: 100%;
    height: 100px;
    padding-left: 50px ;
    font-size: 20px;
    display: flex;
}

#button{
    margin-bottom: 100px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    margin-right: 50px;
}
#button2{
    width: 100%;
    height: 50px;
    margin-bottom: 100px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}


#button3{
    margin-bottom: 100px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}



#nextbtn1{
    width: 200px;
    height: 50px;    
    background-color: #14a44e;
    margin-right: 200px;
    margin-top: 80px;
    margin-bottom: 50px;
    cursor: pointer;
    
}
#nextbtn2{
    width: 200px;
    height: 50px;    
    background-color: #14a44e;
    /* margin-right: 100px; */
    margin-left: 800px;
    margin-top: 50px;
    cursor: pointer;
}
#backbtn1{
    width: 200px;
    height: 50px;    
    background-color:white;
    /* margin-right: 100px; */
    margin-left: 30px;
    margin-top: 50px;
    cursor: pointer;
}

#nextbtn3{
    width: 200px;
    height: 50px;    
    background-color: #14a44e;
    /* margin-right: 100px; */
    margin-left: 800px;
    margin-top: 50px;
    cursor: pointer;
}

#backbtn2{
    width: 200px;
    height: 50px;    
    background-color: white;
    /* margin-right: 100px; */
    margin-left: 30px;
    margin-top: 50px;
    cursor: pointer;
}



#nextbtn1,#nextbtn2,#nextbtn3 span{
    font-size: 20px;
    font-weight: 500px;
    color: white;
    margin-right: 5px;
}

#nextbtn1 i{
    background-color: #14a44e;
    border: 0;
    font-size: 15px;
    color: white;
}
#nextbtn2 i{
    background-color: #14a44e;
    border: 0;
    font-size: 15px;
    color: white;
}

#nextbtn3 i{
    background-color:#14a44e;
    border: 0;
    font-size: 20px;
    color: white;
}

#backbtn1 span{
    font-size: 20px;
    font-weight: 500px;
    color: rgb(83, 80, 80);
    margin-right: 5px;
}

#backbtn2 span{
    font-size: 20px;
    font-weight: 500px;
    color:rgb(83, 80, 80);
    margin-right: 5px;
}

#backbtn1 i{
    background-color: #f8fcfa;
    border: 0;
    font-size: 15px;
    color: rgb(83, 80, 80);
    rotate: 180deg;
}

#backbtn2 i{
    background-color: white;
    border: 0;
    font-size: 15px;
    color: rgb(83, 80, 80);
    rotate: 180deg;
}